extends ../layout.pug
block contenido
		div(class="col-md-5 center-block go-up quitar-float top-space text-left")
			h1 Editar cliente #{product.nombre}
			form(method="POST" action="/menu/#{product.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
				div(class="form-group")
					label Codigo del producto
					input(type="text" name="id" value="#{product.id}" placeholder="Codigo de Producto" class="form-control")
				div(class="form-group")
					label Distribuidora del Producto
					select(name="distribuidora" value="#{product.distribuidora}" class="form-control")
						option Brink Tools 
					//	option Materiales Eléctricos
						option Hogar
						option Productos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
				div(class="form-group")
					label Categoria del Producto
					select(name="categoria" value="#{product.categoria}" class="form-control")
						option Herramientas Manuales 
						option Materiales Eléctricos
						option Hogar
						option Productos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
					//input(type="text" name="categoria" placeholder="categoria del cliente" class="form-control")
				div(class="form-group")
					label Nombre
					input(type="text" name="nombre" value="#{product.nombre}" placeholder="Nombre del Product" class="form-control")
				div(class="form-group")
					label Descripción
					textarea(name="descripcion" placeholder="Decripción del Producto" class="form-control")
						= product.descripcion
				div(class="form-group")
					label Precio
					input(type="num" name="precio" value="#{product.precio} " placeholder="Precio del Producto" class="form-control")
				div(class="form-group")
					input(type="file" name="imagen" value="#{product.imagen}")
				div(class="form-group")
					label Contraseña
					input(type="password" name="password" placeholder="Contraseña" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Guardar")


