extends ../layout.pug
block contenido
	h1 Panel administrativo
	table(class="table espacio-d espacio-i")
		//caption Clientes guardados
		//thead
			tr
				th Codigo
				th Distribuidora
				th Categoria
				th Nombre
				th Descripción
				th Precio
				th Imagen
				th Acción
		tbody
			each persona in personas
				table(class="table block-center quitar-float text-center espacio-d espacio-i padding-i padding-d")
					caption #{persona.nombre} #{persona.apellido1} #{persona.apellido2} - Pasaporte: #{persona.passport}
					tr
						td(class="bold text-center quitar-float") Primer Apellido: 
							p(class="normal")
								=persona.apellido1
						td(class="bold text-center quitar-float") Segundo Apellido
							p(class="normal")
								= persona.apellido2
						td(class="bold text-center quitar-float") Nombre
							p(class="normal")
								= persona.nombre
						td(class="bold text-center quitar-float") Municipio de Nacimiento
							p(class="normal") 
								= persona.municipio_n
						td(class="bold text-center quitar-float") Isla de Nacimiento
							p(class="normal") 
								= persona.isla_n
						td(class="bold text-center quitar-float") Fecha de Nacimiento
							p(class="normal") 
								= persona.nacimiento
					tr
						td(class="bold text-center quitar-float") Numero de Pasaporte
							p(class="normal") 
								= persona.passport
						td(class="bold text-center quitar-float") Numero de Cedula Venezolana
							p(class="normal") 
								= persona.cdi
						td(class="bold text-center quitar-float") Numero de Inscripcion Consular
							p(class="normal") 
								= persona.nic
						td(class="bold text-center quitar-float") Dirección 
							p(class="normal") 
								= persona.calle_a
						td(class="bold text-center quitar-float") Localidad
							p(class="normal") 
								= persona.ciudad_a
						td(class="bold text-center quitar-float") Estado 
							p(class="normal") 
								= persona.estado_a
					tr
						td(class="bold text-center quitar-float") Codigo Postal
							p(class="normal") 
								= persona.idpostal_a
						td(class="bold text-center quitar-float") Telefono de Contacto
							p(class="normal") 
								= persona.tlf
						td(class="bold text-center quitar-float") Correo Electronico
							p(class="normal") 
								= persona.email
						//td
							//input(type="submit" class="btn btn-info" onclick="location.href='#{persona.imagen}'" value="Ver")
				table( class="table")
						td(class="bold text-center quitar-float")
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='#{persona.cdi_img}'" value="Cedula")
						td(class="bold text-center quitar-float")
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='#{persona.passport_img}'" value="Pasaporte")
						td(class="bold text-center quitar-float")
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='#{persona.informe_img}'" value="Informe Medico")
						td(class="bold text-center quitar-float")
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='#{persona.Recipe_img}'" value="Recipe Medico")
						td(class="bold text-center quitar-float")
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='#{persona.Imprimir_img}'" value="Imprimir")
						td 
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='./menu/edit/#{persona.id}'" value="Editar")
						td
							input(type="submit" class="btn btn-sm btn-success" onclick="location.href='./menu/delete/#{persona.id}'" value="Eliminar")
