extends layout.pug
block contenido
		div(class="col-md-10 center-block go-up quitar-float top-space text-center")
			h1 Agregar datos de solicitante
			form(method="POST" action="/" style="margin-top:1.5em;")
				center
					table(class="table")
						tr
							h3 Datos personales
							td
								label Nombre
								input(type="text" name="nombre" placeholder="Nombre" class="form-control")
								label Primer Apellido 
								input(type="text" name="apellido1" placeholder="Primer Apellido" class="form-control")
							td
								label Segundo apellido
								input(type="text" name="apellido2" placeholder="Segundo Apellido" class="form-control")
								label Fecha De Nacimiento
								input(type="date" name="nacimiento" class="form-control")
							td
								label Cedula De Identidad
								input(type="text" name="cdi" placeholder="Identificacion Venezolana" class="form-control")
								br
								select(name="cdi_nac" class="form-control")
									option(value="V") V
									option(value="E") E
							td
								label Numero De Pasaporte
								input(type="text" name="passport" placeholder="N° Pasaporte" class="form-control")
								label Nº Inscripcion consular
								input(type="text" name="nic" placeholder="N° de inscripcion consular" class="form-control")
							td
								label e-mail
								input(type="email" name="email" placeholder="Correo electronico" class="form-control")
								label Telefono de Contacto
								input(type="text" name="tlf" placeholder="telefono de contacto" class="form-control")
					table(class="table")
						tr
							h3 Informacion de lugar de nacimiento
							td
								label Municipio
								select(name="municipio_n" class="form-control")
									option(value="Adeje") Adeje
									option(value="Agaete") Agaete
									option(value="Agüimes") Agüimes
									option(value="Agulo") Agulo
									option(value="Alajeró") Alajeró
									option(value="Antigua") Antigua
									option(value="Arafo") Arafo
									option(value="Arico") Arico
									option(value="Arona") Arona 
									option(value="Arrecife") Arrecife
									option(value="Artenara") Artenara
									option(value="Arucas") Arucas
									option(value="Barlovento") Barlovento
									option(value="Betancuria") Betancuria
									option(value="Breña Alta") Breña Alta 
									option(value="Breña Baja") Breña Baja
									option(value="Buena Vista del Norte") Buena Vista del Norte
									option(value="Candelaria") Candelaria
									option(value="El Paso") El Paso
									option(value="El Pilar De Hierro") El Pilar De Hierro
									option(value="El Rosario") El Rosario
									option(value="El Sauzal") El Sauzal
									option(value="El Tanque") El Tanque
									option(value="Fasnia") Fasnia
									option(value="Firgas") Firgas
									option(value="Frontera") Frontera
									option(value="Fuencaliente De La Palma") Fuencaliente De La Palma
									option(value="Gàldar") Gàldar
									option(value="Garachico") Garachico 
									option(value="Garafìa") Garafìa
									option(value="Granadilla De Abona") Granadilla De Abona
									option(value="Guìa De Isora") Guìa De Isora
									option(value="Gúìmar") Gúìmar
									option(value="Harìa") Harìa
									option(value="Hermigua") Hermigua
									option(value="Icod De Los Vinos") Icod De Los Vinos
									option(value="Ingenio") Ingenio
									option(value="La Aldea De San Nicolàs") La Aldea De San Nicolàs
									option(value="La Guancha") La Guancha
									option(value="La Matanza De Acentejo") La Matanza De Acentejo
									option(value="Las Palamas De Gran Canaria") Las Palmas De Gran Canaria
									option(value="Los Llanos De Aridane") Los Llanos De Aridane
									option(value="Los Realejos") Los Realejos
									option(value="Los Silos") Los Silos
									option(value="Mogàn") Mogàn
									option(value="Moya") Moya
									option(value="Pajara") Pajara
									option(value="Puerto De La Cruz") Puerto De La Cruz
									option(value="Puerto Del Rosario") Puerto Del Rosario
									option(value="Puntagorda") Puntagorda
									option(value="Puntallana") Puntallana
									option(value="San Andrès y sauces") San Andrès y sauces
									option(value="San Bartolomè") San Bartolomè
									option(value="San Bartolomè de Tirajana") San Bartolomè de Tirajana
									option(value="San Critòbal de la Laguna") San Critòbal de la Laguna
									option(value="San Juan de la Rambla") San Juan de la Rambla
									option(value="San Miguel de Abona") San Miguel de Abona
									option(value="San Sebastiàn de la Gomera") San Sebastiàn de la Gomera
									option(value="Santa Brigida") Santa Brigida
									option(value="Santa Cruz de la Palma") Santa Cruz de la Palma
									option(value="Santa Cruz de Tenerife") Santa Cruz de Tenerife
									option(value="Santa Lucìa de Tirajana") Santa Lucìa de Tirajana
									option(value="Santa Maria de Guía de Gran Canaria") Santa Maria de Guía de Gran Canaria
									option(value="Santa Ùrsula") Santa Ùrsula
									option(value="Santiago del Teide") Santiago del Teide
									option(value="Tacoronte") Tacoronte
									option(value="Tazacorte") Tazacorte
									option(value="Tegueste") Tegueste
									option(value="Teguise") Teguise
									option(value="Tejeda") Tejeda
									option(value="Telde") Telde
									option(value="Teror") Teror
									option(value="Tìas") Tìas
									option(value="Tijarafe") Tijarafe
									option(value="Tinajo") Tinajo
									option(value="Tuineje") Tuineje
									option(value="Valle Gran Rey") Valle Gran Rey
									option(value="Vallehermoso") Vallehermoso
									option(value="Valleseco") Valleseco
									option(value="Valsequillo de Gran Canaria") Valsequillo de Gran Canaria
									option(value="Valverde") Valverde
									option(value="Vega de San Mateo") Vega de San Mateo
									option(value="Vilaflor") Vilaflor
									option(value="Villa de Mzo") Villa de Mazo
									option(value="Yaiza") Yaiza
									option(value="Otro") Otro
							td
								label Isla
								select(name="isla_n" class="form-control")
									option(value="Gran Canaria") Gran Canaria
									option(value="La Gomera") La Gomera
									option(value="El Hierro") El Hierro
									option(value="Tenefire") Tenerife
									option(value="Fuerteventura") Fuerteventura
									option(value="La Palma") La Palma
									option(value="Lanzarote") Lanzarote
									option(value="Otro") Otro
							td
								label Provincia
								select(name="provincia_n" class="form-control")
									option(value="Santa Fe de Tenerife") Santa Cruz De Tenerife
									option(value="Las Palmas") Las Palmas
									option(value="Otro") Otro
							td
								label Comunidad
								select(name="comunidad_n" class="form-control")
									option(value="Canaria") Canaria
									option(value="Otro") Otro
					table(class="table")
						tr
							h3 Direccion Actual
							td
								label Calle
								input(name="calle_a" placeholder="calle" class="form-control")
								label Tipo de Vivienda
								textarea(name="tipo_v" placeholder="Vivienda" class="form-control")
							td
								label Ciudad
								input(name="ciudad_a" placeholder="Ciudad" class="form-control")
								label Estado
								input(name="estado_a" placeholder="Estado" class="form-control")
							td
								label Codigo Postal
								input(type="text" name="idpostal_a" placeholder="Codigo Postal" class="form-control")
					div(class="col-md-6 form-group text-center center-block quitar-float go-up")
					table(class="table")
						tr
							h3 Beneficiado
							td
								.form-group
									label Nacionalizado
								.checkbox
									label
										input(type="checkbox", value="Si" name="nacionalidad")
										| Si
										br
										input(type="checkbox", value="No" name="nacionalidad")
										| No
							td
								.form-group
									label Pension Española
									.checkbox
										label
												input(type="checkbox", value="Si contribuyente" name="pension_e")
												| Si Contribuyente
												br
												input(type="checkbox", value="No contribuyente" name="pension_e")
												| No Contribuyente
												br
												input(type="checkbox", value="No" name="pension_e")
												| No
							td
								.form-group
									label Ayuda Domiciliaria
									.checkbox
										label
											input(type="checkbox", value="Si" name="ayuda_d")
											| si
											br
											input(type="checkbox", value="No" name="ayuda_d")
											| No
							td
								.form-group
									label FES
									.checkbox
										label
											input(type="checkbox", value="Si" name="fes")
											| Sí
											br
											input(type="checkbox", value="No" name="fes")
											| No
							td
									label IVSS
									.checkbox
										label
											input(type="checkbox", value="Si" name="ivss")
											| Si
											br
											input(type="checkbox", value="No" name="ivss")
											| no
							td
								label Otra Ayuda
								input(type="text" name="ayuda_o" class="form-control")
					table(class="table")
						tr
							h3 Anexos
							td
								.form-group
									label Pasaporte
									input(type="file" name="pass_img")
							td
								label Cedula
								input(type="file" name="cdi_img")
					div(class="form-group text-right")
						input(type="submit" class="btn btn-info" value="Guardar")
