doctype html
html(lang="en")
	head
		title Canarios En el Orinoco
		meta(charset="UTF-8")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
		script(href="/js/bootstrap.min.js")
		//link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Delius+Unicase|Philosopher:200,400,500,600" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
		link( href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
		script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-4720411224205075", enable_page_level_ads: true });
	body
		nav(class=" navbar navbar-inverse padding-largo")
			div.container
				div.navbar-header
					div.navbar-collapse.collapse
						button(type="button" class="navbar-toggle collapsed")
							a(class="navbar-brand" href="#") Canarios En el Orinocio
						ul(class="nav nav-tabs navbar-nav")
							li(role="presentation" class="")
								a( class="azul" href="/" style="text-decoration:none;") Inicio
							li(role="presentation" class="")
								a( class="azul" href="/admin" style="text-decoration:none;") Administración
							li(role="presentation" class="espacio-dd")
								a(href="#") Canarios en el Orinoco
		block contenido
