extends ../layout.pug
block contenido
		div(class="col-md-5 center-block go-up quitar-float top-space text-center")
			h1 Eliminar cliente #[span= prod.title]
			form(method="POST" action="/menu/#{prod.id}?_method=delete" style="margin-top:1.5em;")
				div(class="form-group")
					label Contraseña
					input(type="password" name="password" placeholder="Contraseña" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Guardar")