extends ../layout.pug
block contenido
		div(class="col-md-5 center-block go-up quitar-float top-space text-center")
			h1 Agregar producto
			form(method="POST" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
				div(class="form-group")
					label Codigo del producto
					input(type="text" name="id" placeholder="Codigo de Producto" class="form-control")
				div(class="form-group")
					label Distribuidora del producto
					select(name="distribuidora" class="form-control")
						option Brink Tools 
					//	option Materiales Eléctricos
						option Hogar
						option Productos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
				div(class="form-group")
					label Categoria del Producto
					select(name="categoria" class="form-control")
						option Herramientas Manuales 
						option Materiales Eléctricos
						option Hogar
						option Productos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
					//input(type="text" name="categoria" placeholder="categoria del cliente" class="form-control")
				div(class="form-group")
					label Nombre
					input(type="text" name="nombre" placeholder="Nombre del Product" class="form-control")
				div(class="form-group")
					label Descripción
					textarea(name="descripcion" placeholder="Decripción del Producto" class="form-control")
				div(class="form-group")
					label Precio
					input(type="num" name="precio" placeholder="Precio del Producto" class="form-control")
				div(class="form-group")
					input(type="file" name="imagen")
				div(class="form-group")
					label Contraseña
					input(type="password" name="password" placeholder="Contraseña" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Guardar")


